       body{
		   margin: 0;/*Величина отступа от края*/
		   padding:0; /*Значение полей вокруг элемента*/
		   font-family: Open Sans;/*Задание шрифта*/
	   }
	   table{
		 border-collapse: collapse;/* Отображать только одинарные линии */
         border:0;                 /* Рамка вокруг таблицы */
		 width:100%;            
		 background-color:#F0F8FF;
		}
		#header,#footer{
			 height:55px;
			 background:#FFFFFF;/*Цвет фона*/
		}
	   #header{
		 text-align:left;
		}
		#footer{
		  text-align:center;/*Выравнивание элемента по центру*/
		  font-size:120%;/*Размер шрифта*/
		}
		a{
		  color:#191970;
		  text-align:center;
		}
		a:visited{
			color:#D3D3D3;
		}
		img{
			height:535px;
			width:341px;
			text-align:center;
		}
        a img{
		    height:30px;
		    width:30px;
			float:right;/*Виравнивание по правому краю*/
			margin-left:20px;/*Расстояние между иконками*/
		}
		h2{
		  font-family:Pacifico;
		  float:center;
		}
		td{
		   padding:0px;
		   text-align:center;
		   width:341px;
		}
		ul li{
		    display:inline;/*В один ряд*/
			font-family: Osvald;
			font-size:120%;
			text-align:right;	
			}
       div{
		   margin-top:-197px;/*Величина отступа от верхнего края элемента*/
	   }
	    b{
		   color:#191970;
	   }
		span{
			font-weight:bold;/*Жирность*/
			letter-spacing:2px;/*Интервал между буквами слова*/
			text-align:left;
		}